<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">	
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title>帆茂投资</title>
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta name="description" content="css3 flexbox, horizontal">
	<meta name="viewport" content="width=640">
	<meta name="viewport" content="width=1536">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1">
	<meta name="viewport" content="initial-scale=0.5,maximum-scale=0.5,minimum-scale=0.5">
	<meta name="viewport" content="width=device-width">
	<meta name="keywords" content="css3, html5">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
</head>
<body>
	<div id="xypopDiv" style="display:none;">
	    <div style="width:100%; height:100%; background:#000; position:fixed; opacity:.6; z-index:100;"></div>
		<div style="width:90%; height:30rem; background:#fff; position:fixed; z-index:101; opacity:1; margin-left:4%; margin-top:2rem; border:4px solid #826b47;">
		     <div style="background:#fcfaf7; width:100%; height:1rem; position:relative;">
			   
			 </div>
		     <p style="width:90%; margin:0 auto; font-size:0.7rem;">根据《私募投资基金监督管理暂行办法》第四章第十四条规定：“ 私募基金管理人、私募基金销售机构不得向合格投资者之外的单位和个人募集资金，不得通过报刊、电台、电视、互联网等公众传播媒体或者讲座、报告会、分析会和布告、传单、手机短信、微信、博客和电子邮件等方式，向不特定对象宣传推介。”</p><br>

			 <p style="width:90%; margin:0 auto; font-size:0.7rem;">阁下如有意进行私募投资基金投资且满足《私募投资基金监督管理暂行办法》关于“合规投资者”标准之规定，即具备相应风险识别能力和风险承担能力：</p><br>
	           <li style="font-size:0.7rem;  width:90%; margin:0 auto;">
	           <input type="checkbox" checked="true" style="width:14px;height:14px;" name="xy_checkbox" id="xy_checkbox">　投资于单只私募基金的金额不低于100 万元；</li>
			   <li style="font-size:0.7rem;  width:90%; margin:0 auto;">
			   <input type="checkbox" checked="true" style="width:14px;height:14px;" name="xy_checkbox" id="xy_checkbox">　个人金融类资产不低于300万元；</li>
			   <li style="font-size:0.7rem;  width:90%; margin:0 auto;">
			   <input type="checkbox" checked="true" style="width:14px;height:14px;" name="xy_checkbox" id="xy_checkbox">　或者最近三年个人年均收入不低于50万元人民币；</li>

			 <br><p style="width:90%; margin:0 auto; font-size:0.7rem;">请阁下详细阅读本提示，并确认为合格投资者，方可进入页面获取私募基金相关展示信息。</p>
			<p style="width:90%; margin:0 auto; font-size:0.7rem;">本人/本机构承诺所登录的微信号码是我本人真实号码，对上述问卷内容回答是准确、真实、完整的，保证不存在重大误导或重大遗漏的情形.</p><br>

			 <img id="ikonwImg" src="images/iknow.jpg" style="width:40%; margin-left:30%; margin-top:1rem;">
		</div>
	</div>
	<div id='main' class ='container'>
		<div class='o-b one-line-msg th'>
			<p style="font-size:1rem; font-family:Microsoft YaHei; color:#fff;">私募投资基金投资者</p>
			<p style="font-size:1rem; font-family:Microsoft YaHei; color:#fff;">风险承受能力调查问卷</p>
		</div>
		<div>
	       <!--标题图片和文字-->
		   <div class="tWordD">
		       <div style="width:100%; height:3rem; line-height:3rem; vertical-align: middle;">
	             <img src="images/gt2.png" style="width:2rem; height:2rem; line-height:3rem; vertical-align: middle;">
	             <i style="font-size:1.2rem; font-family:Microsoft YaHei; color:#503c28; line-height:3rem; vertical-align: middle;">风险提示:</i>
			   </div>
			   <p style="font-size:1rem; font-family:Microsoft YaHei; color:#503c28;">私募基金投资需承担各类风险，本金可能遭受损失。同时，私募基金投资还要考虑市场风险、信用风险、流动性风险、操作风险等各类投资风险。您在基金认购过程中应当注意核对自己的风险识别和风险承受能力，选择与自己风险识别能力和风险承受能力相匹配的私募基金。</p>
	      
		   </div>
		   <div class="wtD" style="width:90; margin: 0 5%; text-align:justify;">
			       <p class="wtP">
				      以下一系列问题可在您选择合适的私募基金前，协助评估您的风险承受能力、理财方式及投资目标。
				   </p>
		   </div>
		</div>
		<div id='paper' class="quesD">
		</div>
		<div id="submitDiv" class="submitD">
			<input id="name" type="text"  class="user_phone" maxlength="11" placeholder="请输入您的姓名">
			<input id="mobile" type="text" pattern="[0-9]{11}" class="user_phone" maxlength="11" placeholder="请输入手机号码">
			<input id="email" type="text" class="user_phone" placeholder="请输入邮箱">
		    <ul style="margin-left:5%;margin-right:5%;width:90%;margin-top:2%">
	          <input type="checkbox" style="width:18px;height:18px;" checked="true" id="agreement_ckb">&nbsp;<span id="xyLi" style="font-size:0.9rem;">我已阅读并同意<font color="#FF6600">《合格投资者承诺函》</font></span>   
		    </ul>
		</div>
		<div class="one-line-msg th" >
		    <a id='submit' class='sub-btn o-b'>提交</a>
		</div>
	</div>
	<div id='success' class='container' >
		<div class='o-b one-line-msg th'>
			<p style="font-size:1rem; font-family:Microsoft YaHei; color:#fff;">投资者风险评估结果</p>
		</div>
		<div class='small'>
			<span class='brief'>根据您所选择的问题答案，您对投资风险的整体承受度及您的风险偏好总得分为：</span><br>
		</div>
		<div class="one-line-msg th f-m">
			<p id='type' class='red big'>稳健性</p>
	      	<p id='score' class='red big'>50</p>
			<p id='endurance' class='red big'>较弱</p>
			<p id='venture' class='red big'>中地风险、低风险</p>
			<p><a id='reassess' class='o-f'>重新测评>></a></p>
		</div>
		<div class="small">
	      	声明：本人已如实填写《私募基金投资者风险承受能力调查问卷》，并了解了自己的风险承受类型和适合购买的产品类型。
		</div>
	</div>
	<link rel="stylesheet" type="text/css" href="app.css">
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="app.js"></script>
</body>
</html>